body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8EFE5;
    color: #000000;
}


header {
    background-color: #1D375B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #C8B39B;
    height: 20vh;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
}

header h1 {
   color: #C8B39B;
   text-align: center;
   margin: 5px 15px 5px 15px;
   text-align: center;
   font-size: 1.2em;
   max-width: 90%;
}

.logo {
    margin-bottom: 2px;
}

#solenelogo {
    display:block;
    width:200px;
    height:auto;
    max-width: 100%;
    margin: 0 auto
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    display: block;
    padding: 5px 10px;
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
    color: #1D375B;
    background-color: #C8B39B;
    border-radius: 12px;
    border: 2px solid #C8B39B;
    transition: background-color 0.3s ease, 
                        color 0.3s ease, 
                        border-color 0.3s ease;
}

nav a:hover {
    background-color: transparent;
    color: #C8B39B;
    border-color: #C8B39B;
}

.content {
    background-color: #F2D9C7;
    padding: 40px;
    text-align: center;
    height: 65vh;
}

.content h2 {
    margin-top: 0;
}



.gallery {
    padding: 40px;
}

.gallery h2 {
    text-align: center;
}

.art-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.art-box {
    background-color: white;
    border: 1px solid #F2D9C7;
    padding: 15px;
    border-radius: 8px;
}

.art-box h4 {
    margin-top: 0;
}

.price {
    color: #5D768B;
    font-weight: bold;
}



.form-box,
.contact {
    max-width: 400px;
    margin: 40px auto;
    background-color: #F2D9C7;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #C8B39B;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #C8B39B;
    border-radius: 5px;
    background-color: #F8EFE5;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #5D768B;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #C8B39B;
}


footer {
    background-color: #5D768B;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    height: 15vh;
}