body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8EFE5;
    color: #000000;
}


header {
    background-color: #1D375B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #e3c9a4;
    height: 30vh;
    padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
}

.header-space {
    flex-grow: 1; min-width: 50px;
}

.solene-name-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    gap: 30px;
    flex-shrink: 0;
}

.text-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#solenename {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 2px;
}

#solenelogo {
    width: 200px;
    height: auto;
    display: block;
}

.solene-name-and-logo h2 {
    color: #e3c9a4;
    margin: 0;
    font-size: 0.45em;
    text-align: left;
    white-space: normal;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;
}

nav a {
    display: block;
    padding: 10px 16px;
    font-size: 0.95em;
    text-decoration: none;
    cursor: pointer;
    color: #1D375B;
    background-color: #e3c9a4;
    border-radius: 12px;
    border: 2px solid #e3c9a4;
    transition: background-color 0.3s ease, 
                        color 0.3s ease, 
                        border-color 0.3s ease;
}

nav a:hover {
    background-color: transparent;
    color: #e3c9a4;
    border-color: #e3c9a4;
}

.content {
    background-color: #F2D9C7;
    padding: 40px;
    text-align: center;
    height: 60vh;
    width: 100
}

.content h2 {
    margin-top: 0;
}



.gallery {
    padding: 40px;
}

.gallery h2 {
    text-align: center;
}

.art-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.art-box {
    background-color: white;
    border: 1px solid #F2D9C7;
    padding: 15px;
    border-radius: 8px;
}

.art-box h4 {
    margin-top: 0;
}

.price {
    color: #5D768B;
    font-weight: bold;
}



.form-box,
.contact {
    max-width: 400px;
    margin: 40px auto;
    background-color: #F2D9C7;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #C8B39B;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #C8B39B;
    border-radius: 5px;
    background-color: #F8EFE5;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #5D768B;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #C8B39B;
}


footer {
    background-color: #5D768B;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}